* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 990px) {
  .container-fluid {
    overflow: hidden;
    width: 100%;
  }
  .row {
    overflow: hidden;
  }
}

.contactos, .preguntas {
  background-color: #ffffff9c;
  color: #f6264e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 17pt;
}

body {
  background-size: contain;
  background-image: url(../assets/img/fondo.png);
  background-position: center center;
  background-attachment: sticky;
  width: 100%;
  margin: 0 auto;
}

body div.container-fluid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0 0.5rem;
  width: 50%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.navbar .navbar-brand img {
  width: 30%;
}

.navbar .navbar-nav .nav-item .nav-link {
  font: bold 14pt "Josefin Sans";
  color: #f6264e;
  list-style-type: none;
  text-align: right;
}

.navbar .nav-link:hover {
  opacity: 0.5;
}

#carouselExampleFade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-width: 1024px;
  margin: auto;
}

#carouselExampleFade img {
  width: 100%;
  height: auto;
}

.productos-estrella {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 15% 85%;
      grid-template-rows: 15% 85%;
  width: 100%;
  height: auto;
  padding: 15px;
  max-width: 1024px;
  margin: auto;
}

.productos-estrella h2 {
  background-color: #ffffff;
  font: 600 17pt "Josefin Sans";
  color: #f6264e;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 15px;
}

.productos-estrella h2:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.productos-estrella .productos-estrella-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 98.5%;
}

.productos-estrella .productos-estrella-img img.zoom {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.productos-estrella .productos-estrella-img img.zoom:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main section.search-filter {
  font-family: bold 14pt "Josefin Sans";
  padding: 15px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8pt;
  margin: 0 30pt;
}

main section.search-filter h1 {
  font: 600 17pt "Josefin Sans";
  color: #f6264e;
  text-align: left;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  padding: 15pt;
}

main section.search-filter .boton {
  background-color: #f6264e;
  font: 12pt josefin sans;
  color: #ffffff;
  border-radius: 4pt;
  border-color: #ffffff;
  padding: 3pt;
}

main section.productos-img {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  height: auto;
  padding: 30px;
  gap: 8px;
  width: 100%;
  height: auto;
}

main section.productos-img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 98.5%;
  height: auto;
}

.contactos {
  font-family: 15pt "Belleza";
}

.contactos h1 {
  font: 600 17pt "Josefin Sans";
  color: #f6264e;
}

.contactos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 5pt;
}

.contactos div.comentarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactos div input.boton {
  background-color: #f6264e;
  font: 12pt josefin sans;
  color: #ffffff;
  border-radius: 4pt;
  border-color: #ffffff;
  padding: 3pt;
}

main.nuestra-historia {
  background-color: #ffffff9c;
  display: -ms-grid;
  display: grid;
  overflow-wrap: nowrap;
  min-height: 100%;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
  max-width: 1024px;
}

main.nuestra-historia div.nuestra-historia-img {
  width: auto;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 20px;
}

main.nuestra-historia .nuestra-historia-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8pt;
  margin-top: 5pt;
}

main.nuestra-historia .nuestra-historia-texto h1 {
  font: 600 17pt "Josefin Sans";
  color: #f6264e;
}

main.nuestra-historia .nuestra-historia-texto p {
  font: 14pt "Josefin Sans";
  color: #f6264e;
}

main.nuestra-historia .nuestra-historia-texto h3 {
  font: 600 17pt "Josefin Sans";
  color: #f6264e;
}

.preguntas section.links-de-preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  text-decoration: none;
  font: bold 14pt "Josefin Sans";
}

.preguntas section.links-de-preguntas h1 {
  color: #f6264e;
  font: 600 17pt "Josefin Sans";
  text-align: center;
}

.preguntas section.links-de-preguntas a {
  text-decoration: none;
  color: #f6264e;
  padding: 3pt;
  text-align: center;
}

.preguntas section.links-de-preguntas a:hover {
  opacity: 0.5;
}

.preguntas section.preguntas-frecuentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  padding: 60px;
  margin: auto;
  font: 14pt "Josefin Sans";
}

footer {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  height: auto;
  position: relative;
  bottom: 0;
}

footer .pie-de-pagina {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer .menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
}

footer .menu__footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .menu__footer nav ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin: 0 3px;
  width: 100%;
  max-width: 1024px;
}

footer .menu__footer nav ul a {
  text-decoration: none;
  font: bold 14pt "Josefin Sans";
  color: #f6264e;
}

footer .menu__footer nav ul li a:hover {
  opacity: 0.5;
}

footer .copy {
  font-size: x-small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  position: -webkit-sticky;
  position: sticky;
  color: #f6264e;
  font-weight: 600;
}

.btn-fb {
  fill: #66d7d1;
}

.btn-fb:hover {
  fill: #f2f256;
}

.btn-ig {
  fill: #f6264e;
}

.btn-ig:hover {
  fill: #f2f256;
}

.btn-tienda-nube {
  fill: #d3bcf6;
}

.btn-tienda-nube:hover {
  fill: #f2f256;
}

.btn-wsp {
  fill: #a2edce;
}

.btn-wsp:hover {
  fill: #f2f256;
}
