* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #f6264e;
}
body{
    background-size: contain;
    background-image: url(../assets/img/Fondo.png);
    background-position: center center;
    background-attachment: sticky;
}
.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.header-logo {
    display: inline-block;
    margin: 0 0.5rem;
    animation-delay: 1s;
    animation: bounce; 
    animation-duration: 2s;
  }

ul li a:hover{
    opacity: 0.5;
}

ul li{
    list-style-type: none;
    text-align: right;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
.nombre-de-page{
    font-weight: bold;
    text-align: right;
    font-family: 'Yeseva One', cursive;
    color: #f6264e;
}

main .carrousel{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.carrousel img{
    width: 100%;
    height: auto;
}
main .productos-estrella{
    display: grid;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 85%;
    height: auto;
    padding: 15px;
    max-width: 1024px;
    margin: auto;
}

.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.5); 
}

div.productos-estrella-img img{
    width: 100%;
    height: auto;
}

div.productos-estrella-img{
    display: flex;
    max-width: 1024px;
    gap: 8px;
}

section h2:nth-child(1){
    grid-column: 1/4;
    grid-row: 1/2;
}

h2{
    font-family: "courgette";
    color: #f6264e;
    font-weight: 600;
    align-items:center;
    padding: 8px;
    font-size: 20;
}
.productos-img img{
    width: 100%;
    height: auto;
}
.productos-img{
    display: flex;
    max-width: 1024px;
    gap: 8px;
}
.contactos{
    font-family: "courgette";
    color: #f6264e;
    font-weight: 600;
    align-items:center;
    padding: 12px;
    font-size: 20;
}
.contactos div{
    display: flex;
    justify-content:center;
    align-content: center;
    padding: 10px;
}
.pie-de-pagina {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p.copy{
    font-size: x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self:flex-end;
    justify-self:flex-end ;
    position:sticky ;
}

footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: auto;
}
.menu__footer nav ul{
    display: flex;
    justify-content: center;
    padding: 3px;
}
footer div.menu__footer nav ul li{
    margin: 0 3px;
    width: 100%;
    max-width: 1024px;
}

@media (min-width: 360px) and (max-width: 767px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
/* Quisiera eliminar .productos-estrella pero cuando lo hago me corre el footer hacia arriba */
    /*     main .carrousel{
        width: 100%;
    }
    main .productos-estrella{
        display: none;
    } */
    footer{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}