$backgroundcolor:(#ffffff9c);
$fontcolor: (#f6264e);
$fontlinks:( bold 14pt "Josefin Sans");
$fonttitle: (600 19pt "Josefin Sans");
$fontformularios: (15pt "Belleza");
$fontparrafo: (14pt "Josefin Sans");

*{
    box-sizing: border-box;
}


body{
    background-size: contain;
    background-image: url(../assets/img/Fondo.png);
    background-position: center center;
    background-attachment: sticky;
    
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/* Comienza nav */

.navbar{
    & &-brand{
    margin: 0 0.5rem;
    width: 50%;
    animation-delay: 1s;
    animation: bounce; 
    animation-duration: 2s;
            }
    & &-brand img{
    width: 30%;
            }
    & &-nav .nav-item .nav-link{
    font: $fontlinks;
    color: $fontcolor;
    list-style-type: none;
    text-align: right;
            }
    .nav-link:hover{
    opacity: 0.5;
            }
} 
/* Comienza carrousel del index */
#carouselExampleFade{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1024px;
    margin: auto;
    img{
    width: 100%;
    height: auto;
    }
}
/* Comienza productos estrella del index */
.productos-estrella{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 85%;
    width: 100%;
    height: auto;
    padding: 15px;
    max-width: 1024px;
    margin: auto;

    h2{
    background-color: #ffffff;
    font: $fonttitle;
    color: $fontcolor;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15px;

        &:nth-child(1){
        grid-column: 1/4;
        grid-row: 1/2;
        }    
    }
    & &-img{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        width: 98.5%;

    img.zoom{
    width: 100%;
    height: auto;
    transition: transform .2s; 
 
        &:hover {
        transform: scale(1.5); 
        }
    }
    }

}
/* Productos */
main section.search-filter{
    font-family: $fontlinks;
    padding: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 8pt;
    margin: 0 30pt;

    & h1{
        font:$fonttitle;
        color: $fontcolor;
        text-align: left;
        background-color: #ffffff;
        width: 100%;
        height: auto;
        padding: 15pt;
    }

    & .boton{
    background-color: #f6264e;
    font-family: josefin sans;
    color: #ffffff;
    border-radius: 4pt;
    border-color: #ffffff;
    font-size: 12pt;
    padding: 3pt;
    }
}
main section.productos-img{
    display: grid;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    padding: 30px;
    gap: 8px;
    width: 100%;
    height: auto;
    & img{
    display: flex;
    flex-wrap: wrap;
    width: 98.5%;
    height: auto;
    }
}
/* Contactos */
.contactos{
    background-color: $backgroundcolor;
    margin: 20pt 100pt;
    font-family: $fontformularios;
    color: $fontcolor;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items:stretch;
    padding: 17pt;
    
    & h1{
        font:$fonttitle;
        color:$fontcolor;
    }

    & div{
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    padding: 10px;
    gap: 5pt;
    
        &.comentarios{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }
}
/* Nuestra historia */

main.nuestra-historia{
        background-color: $backgroundcolor;
        display: grid;
        overflow-wrap: nowrap;
        min-height: 100%;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: auto;
        max-width: 1024px;

    & div.nuestra-historia-img{
        width: auto;
        max-height: 500px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        flex-grow: 1;
        overflow: hidden;
        align-items: stretch;
        padding: 20px;
    }

    & .nuestra-historia-texto{
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        flex-grow: 1;
        align-items: center;
        padding: 8pt;
        margin-top: 5pt;

        & h1{
            font: $fonttitle;
            color: $fontcolor;
        }
        & p{
            font: $fontparrafo;
            color: $fontcolor;
        }
        & h3{
            font: $fonttitle;
            color: $fontcolor;
        } 
    }
}
/* Comienza preguntas frecuentes */
main.preguntas{
    background-color: $backgroundcolor;
    margin: 20pt 100pt;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items:stretch;
    padding: 17pt;
    color: $fontcolor;

    & section.links-de-preguntas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    font-weight: 800;
    text-decoration: none;
    font: $fontlinks;
        & a{
            text-decoration: none;
            color: $fontcolor;
            padding: 3pt;
            &:hover{
                opacity: 0.5;
            }
    
        }
    }

    & section.preguntas-frecuentes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    max-width: 900px;
    padding: 60px;
    margin: auto;
    font:$fontparrafo;
    }
}   
/* Comienza Footer */
footer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: auto;
    .pie-de-pagina {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .menu__footer{
        display: flex;
        justify-content: center;
        padding: 3px;
        & nav ul{
            display: flex;
            justify-content: center;
            align-items:center;    
            li{ 
            align-items:center;
            flex-direction: column;
            list-style-type:none;
            margin: 0 3px;
            width: 100%;
            max-width: 1024px;
            }
            a{
            text-decoration:none;
            font: $fontlinks;
            color: $fontcolor;
            }
                & li a:hover{
                opacity: 0.5;                    
                }            
        }
    }
    & .copy{
    font-size: x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self:flex-end;
    justify-self:flex-end;
    position:sticky ;
    color: $fontcolor; 
    font-weight: 600;       
    }
}

@media (min-width: 360px) and (max-width: 767px){
    body{
        width: 100%;
        margin: 0;
    }
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    section.productos-estrella{
    display: none;
    }
    footer{
        width: 100%;
    }
    .contenedor{
        width: 100%;
    }
}
@media (max-width: 1200px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .contenedor{
        width: 100%;
}
}