* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import "vars-mixin";
@import "media";
@import "index";
@import "productos";
@import "contactos";
@import "nuestra-historia";
@import "preguntas-frecuentes";



%backcolor {
    background-color: $backgroundcolor;
    color: $fontcolor;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: stretch;
    padding: 17pt 5pt;
}

body{
    background-size: contain;
    background-image: url(../assets/img/fondo.png);
    background-position: center center;
    background-attachment: sticky;
    width: 100%;
    margin: 0 auto;
    
    & div.container-fluid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
}
    
    
// Comienza nav
.navbar {
    & &-brand {
        margin: 0 0.5rem;
        width: 50%;
        animation-delay: 1s;
        animation: bounce;
        animation-duration: 2s;
    }

    & &-brand img {
        width: 25%;
    }

    & &-nav .nav-item .nav-link {
        font: $fontlinks;
        color: $fontcolor;
        list-style-type: none;
        text-align: right;
    }

    .nav-link:hover {
        opacity: 0.5;
    }
}

// Comienza Footer
footer {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    @include centrado();
    padding: 30px;
    height: auto;
    position: relative;
    bottom: 0;

    .pie-de-pagina {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .menu__footer {
        display: flex;
        justify-content: center;
        padding: 3px;

        & nav ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;

            li {
                align-items: center;
                flex-direction: column;
                list-style-type: none;
                margin: 0 3px;
                width: 100%;
                max-width: 1024px;
            }

            a {
                text-decoration: none;
                font: $fontlinks;
                color: $fontcolor;
            }

            & li a:hover {
                opacity: 0.5;
            }
        }
    }

    & .copy {
        font-size: x-small;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        align-self: flex-end;
        justify-self: flex-end;
        position: sticky;
        color: $fontcolor;
        font-weight: 600;
    }
}
// Rrss de footer
$redes:(
    fb:#66d7d1,
    ig:#f6264e,
    tienda-nube: #d3bcf6,
    wsp: #a2edce);

@each $nombre,
$valor in $redes {
    .btn-#{$nombre} {
        fill: $valor;

        &:hover {
            fill: rgb(242, 242, 86);
        }
    }
}